src/main/wsdl/GymPortalWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
        name="GymPortalWS"
        targetNamespace="http://it.univaq.disim.GymREST.wsdl/GymPortalWS.wsdl"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns="http://it.univaq.disim.GymREST.wsdl/GymPortalWS.wsdl"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsd1="http://it.univaq.disim.GymREST.wsdl/GymPortalWS.xsd1">
    <wsdl:types>
        <xsd:schema
                targetNamespace="http://it.univaq.disim.GymREST.wsdl/GymPortalWS.xsd1"
                xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
                xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                xmlns:xsd1="http://it.univaq.disim.GymREST.wsdl/GymPortalWS.xsd1">
            <xsd:complexType name="TipoUtente">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="id" type="xsd:long"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="name" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="lastname" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="email" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="username" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="password" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="TipoListaUtente">
                <xsd:sequence>
                    <xsd:element
                            maxOccurs="unbounded"
                            minOccurs="1"
                            name="utente"
                            type="xsd1:TipoUtente"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="TipoRuolo">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="id" type="xsd:long"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="role" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="TipoListaRuolo">
                <xsd:sequence>
                    <xsd:element
                            maxOccurs="unbounded"
                            minOccurs="1"
                            name="ruolo"
                            type="xsd1:TipoRuolo"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="TipoErrore">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="code" type="xsd:int"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="message" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ElementoErrore" type="xsd1:TipoErrore"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="MsgErrore">
        <wsdl:part element="xsd1:ElementoErrore" name="errore"/>
    </wsdl:message>
    <wsdl:message name="MsgAddRuoloResponse">
        <wsdl:part name="successo" type="xsd:boolean"/>
    </wsdl:message>
    <wsdl:message name="MsgListaUtenti">
        <wsdl:part name="utenti" type="xsd1:TipoListaUtente"/>
    </wsdl:message>
    <wsdl:message name="MsgListaRuoli">
        <wsdl:part name="ruoli" type="xsd1:TipoListaRuolo"/>
    </wsdl:message>
    <wsdl:message name="MsgUtenteRuolo">
        <wsdl:part name="idUtente" type="xsd:long"/>
        <wsdl:part name="idRuolo" type="xsd:long"/>
    </wsdl:message>
    <wsdl:message name="MsgGetUtente">
        <wsdl:part name="id" type="xsd:long"/>
    </wsdl:message>
    <wsdl:message name="MsgUtente">
        <wsdl:part name="utente" type="xsd1:TipoUtente"/>
    </wsdl:message>
    <wsdl:message name="MsgVoid">
    </wsdl:message>
    <wsdl:portType name="GymPortalWSInterface">
        <wsdl:operation name="getUtenti">
            <wsdl:input message="tns:MsgVoid"/>
            <wsdl:output message="tns:MsgListaUtenti"/>
            <wsdl:fault message="tns:MsgErrore" name="erroreGenerale"/>
        </wsdl:operation>
        <wsdl:operation name="addRuoloUtente">
            <wsdl:input message="tns:MsgUtenteRuolo"/>
            <wsdl:output message="tns:MsgVoid"/>
            <wsdl:fault message="tns:MsgErrore" name="erroreGenerale"/>
        </wsdl:operation>
        <wsdl:operation name="getUtente">
            <wsdl:input message="tns:MsgGetUtente"/>
            <wsdl:output message="tns:MsgUtente"/>
            <wsdl:fault message="tns:MsgErrore" name="erroreGenerale"/>
        </wsdl:operation>
        <wsdl:operation name="getRuoli">
            <wsdl:input message="tns:MsgVoid"/>
            <wsdl:output message="tns:MsgListaRuoli"/>
            <wsdl:fault message="tns:MsgErrore" name="erroreGenerale"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GymPortalWSSOAP" type="tns:GymPortalWSInterface">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getUtenti">
            <soap:operation soapAction="GymPortalWSInterface#getUtenti"/>
            <wsdl:input>
                <soap:body namespace="http://it.univaq.disim.GymREST.wsdl/gymportalws/data" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body namespace="http://it.univaq.disim.GymREST.wsdl/gymportalws/data" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="erroreGenerale">
                <soap:fault name="erroreGenerale" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addRuoloUtente">
            <soap:operation soapAction="GymPortalWSInterface#addRuoloUtente"/>
            <wsdl:input>
                <soap:body namespace="http://it.univaq.disim.GymREST.wsdl/gymportalws/data" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body namespace="http://it.univaq.disim.GymREST.wsdl/gymportalws/data" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="erroreGenerale">
                <soap:fault name="erroreGenerale" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getUtente">
            <soap:operation soapAction="GymPortalWSInterface#getUtente"/>
            <wsdl:input>
                <soap:body namespace="http://it.univaq.disim.GymREST.wsdl/gymportalws/data" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body namespace="http://it.univaq.disim.GymREST.wsdl/gymportalws/data" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="erroreGenerale">
                <soap:fault name="erroreGenerale" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRuoli">
            <soap:operation soapAction="GymPortalWSInterface#getRuoli"/>
            <wsdl:input>
                <soap:body namespace="http://it.univaq.disim.GymREST.wsdl/gymportalws/data" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body namespace="http://it.univaq.disim.GymREST.wsdl/gymportalws/data" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="erroreGenerale">
                <soap:fault name="erroreGenerale" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GymPortalWSMain">
        <wsdl:port binding="tns:GymPortalWSSOAP" name="GymPortalWSSOAP">
            <soap:address location="http://localhost:8888/ccx/GymPortalWSMain"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>










