src/main/java/it/univaq/disim/GymREST/wsdl/GymPortalWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
        name="GymPortalWS"
        targetNamespace="http://it.univaq.disim.GymREST.wsdl/GymPortalWS.wsdl"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns="http://it.univaq.disim.GymREST.wsdl/GymPortalWS.wsdl"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsd1="http://it.univaq.disim.GymREST.wsdl/GymPortalWS.xsd1">
    <wsdl:types>
        <xsd:schema
                targetNamespace="http://it.univaq.disim.GymREST.wsdl/GymPortalWS.xsd1"
                xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
                xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                xmlns:xsd1="http://it.univaq.disim.GymREST.wsdl/GymPortalWS.xsd1">
            <xsd:complexType name="TipoUtente">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="id" type="xsd:long"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="name" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="lastName" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="email" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="userName" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="password" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="ArrayOfUser">
                <xsd:complexContent>
                    <xsd:restriction base="SOAP-ENC:Array">
                        <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:User[]"/>
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>

            <xsd:complexType name="Role">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="id" type="xsd:long"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="role" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Error">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="code" type="xsd:int"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="message" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ElementoErrore" type="xsd1:Error"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="MsgErrore">
        <wsdl:part element="xsd1:ElementoErrore" name="errore"/>
    </wsdl:message>
    <wsdl:message name="MsgAddRuoloResponse">
        <wsdl:part name="successo" type="xsd:boolean"/>
    </wsdl:message>
    <wsdl:message name="MsgListaUtenti">
        <wsdl:part name="utenti" type="xsd1:TipoListaUtente"/>
    </wsdl:message>
    <wsdl:message name="MsgUtenteRuolo">
        <wsdl:part name="utente" type="xsd1:TipoUtente"/>
        <wsdl:part name="ruolo" type="xsd1:TipoRuolo"/>
    </wsdl:message>
    <wsdl:message name="MsgVoid">
    </wsdl:message>
    <wsdl:portType name="GymPortalWSInterface">
        <wsdl:operation name="getUtenti">
            <wsdl:input message="tns:MsgVoid"/>
            <wsdl:output message="tns:MsgListaUtenti"/>
            <wsdl:fault message="tns:MsgErrore" name="erroreGenerale"/>
        </wsdl:operation>
        <wsdl:operation name="addRuoloUtente">
            <wsdl:input message="tns:MsgUtenteRuolo"/>
            <wsdl:output message="tns:MsgAddRuoloResponse"/>
            <wsdl:fault message="tns:MsgErrore" name="erroreGenerale"/>
        </wsdl:operation>
        <wsdl:operation name="deleteRuoloUtente">
            <wsdl:input message="tns:MsgUtenteRuolo"/>
            <wsdl:output message="tns:MsgVoid"/>
            <wsdl:fault message="tns:MsgErrore" name="erroreGenerale"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GymPortalWSSOAP" type="tns:GymPortalWSInterface">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getUtenti">
            <soap:operation soapAction="GymPortalWSInterface#getUtenti"/>
            <wsdl:input>
                <soap:body namespace="http://it.univaq.disim.GymREST.wsdl/gymportalws/data" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body namespace="http://it.univaq.disim.GymREST.wsdl/gymportalws/data" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="erroreGenerale">
                <soap:fault name="erroreGenerale" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addRuoloUtente">
            <soap:operation soapAction="GymPortalWSInterface#addRuoloUtente"/>
            <wsdl:input>
                <soap:body namespace="http://it.univaq.disim.GymREST.wsdl/gymportalws/data" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body namespace="http://it.univaq.disim.GymREST.wsdl/gymportalws/data" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="erroreGenerale">
                <soap:fault name="erroreGenerale" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteRuoloUtente">
            <soap:operation soapAction="GymPortalWSInterface#deleteRuoloUtente"/>
            <wsdl:input>
                <soap:body namespace="http://it.univaq.disim.GymREST.wsdl/gymportalws/data" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body namespace="http://it.univaq.disim.GymREST.wsdl/gymportalws/data" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="erroreGenerale">
                <soap:fault name="erroreGenerale" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GymPortalWSMain">
        <wsdl:port binding="tns:GymPortalWSSOAP" name="GymPortalWSSOAP">
            <soap:address location="http://localhost:8888/ccx/GymPortalWSMain"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>










